<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3><%= playlist.name %> </h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
          </tr>
        </thead>
        <tbody>
          <% playlist.songs.forEach(function(song){ %>
          <tr>
            <th scope="row"><%= song.name %></th>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td>
              <form method="POST" action="/playlist/<%= playlist.id %>/song/?_method=DELETE">
                <input hidden type="text" name="songId" value="<%= song.id %> ">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Add New Songs To Your Playlist</h3>
      <form class="row g-3" action="/playlist/<%= playlist.id %>/search" method="GET">
        <div class="col-auto">
          <label for="songTitle" class="visually-hidden">Title</label>
          <input
            type="text"
            class="form-control"
            name="songTitle"
            id="songTitle"
            placeholder="Title"
          />
        </div>
        <div class="col-auto">
          <button style="margin-top: 0px;" type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
      </form>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <% songs.forEach(function(song) { %>
        <div class="col">
          <div class="card" style="width: 150px;">
            <img
              style="max-width: 150px"
              src="<%=song.album.cover%>"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body text-left">
              <h5 class="card-title"><%= song.title %></h5>
              <p class="card-subtitle"><%= song.artist.name %></p>
              <p class="card-text"><%= song.album.title %></p>
              <form method="POST" action="/playlist/<%= playlist.id %>/search">
                <input
                  hidden
                  type="text"
                  name="lastFmId"
                  value=""
                />
                <input
                  hidden
                  type="text"
                  name="title"
                  value="<%= song.title %>"
                />
                <input
                  hidden
                  type="text"
                  name="artist"
                  value="<%= song.artist.name %>"
                />
                <input
                  hidden
                  type="text"
                  name="album"
                  value="<%= song.album.title %>"
                />
                <button class="btn btn-primary" type="submit">
                  Add to Playlist
                </button>
              </form>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>