<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Playlist Name</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
          </tr>
        </thead>
        <tbody>
          <% songs.forEach(function(song){ %>
          <tr>
            <th scope="row"><%= song.name %></th>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Add New Songs To Your Playlist</h3>
      <form class="row g-3" action="songs/search">
        <div class="col-auto">
          <label for="songTitle" class="visually-hidden">Title</label>
          <input
            type="text"
            class="form-control"
            name="songTitle"
            id="songTitle"
            placeholder="Title"
          />
        </div>
        <div class="col-auto">
          <label for="songArtist" class="visually-hidden">Artist</label>
          <input
            type="text"
            class="form-control"
            name="songArtist"
            id="songArtist"
            placeholder="Artist"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
      </form>
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
        <% songs.forEach(function(song) { %>
        <div class="col">
          <div class="card">
            <img
              style="max-width: 150px"
              src="<%= song.image[0]["#text"] %>"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body text-left">
              <h5 class="card-title"><%= song.name %> <br /><%= song.artist %> <br />album</h5>
              <form method="POST" action="/song">
                <input
                  hidden
                  type="text"
                  name="lastFmId"
                  value="<%= song.lastFmId %>"
                />
                <input
                  hidden
                  type="text"
                  name="title"
                  value="<%= song.title %>"
                />
                <input
                  hidden
                  type="text"
                  name="artist"
                  value="<%= song.artist %>"
                />
                <input
                  hidden
                  type="text"
                  name="album"
                  value="<%= song.album %>"
                />
                <button class="btn btn-primary" type="submit">
                  Add to Playlist
                </button>
              </form>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>