<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3><%= playlist.name %> </h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
          </tr>
        </thead>
        <tbody>
          <% playlist.songs.forEach(function(song){ %>
          <tr>
            <th scope="row"><%= song.name %></th>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Add New Songs To Your Playlist</h3>
      <form class="row g-3" action="/playlist/<%= playlist.id %>/search" method="GET">
        <div class="col-auto">
          <label for="songTitle" class="visually-hidden">Title</label>
          <input
            type="text"
            class="form-control"
            name="songTitle"
            id="songTitle"
            placeholder="Title"
          />
        </div>
        <div class="col-auto">
          <button style="margin-top: 0px;" type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>